image: alpine

variables:
  SBT_VERSION: "1.0.3"
  SBT_OPTS: "-Xmx2G -XX:+UseConcMarkSweepGC -XX:+CMSClassUnloadingEnabled -XX:MaxPermSize=2G -Xss2M  -Duser.timezone=GMT -Dsbt.global.base=sbt-cache/sbtboot -Dsbt.boot.directory=sbt-cache/boot -Dsbt.ivy.home=sbt-cache/ivy"
  COURSIER_CACHE: sbt-cache/coursier

stages:
  - test
  - deploy

cache:
  key: "mycachekey"
  paths:
    - "sbt-cache/ivy/cache"
    - "sbt-cache/boot"
    - "sbt-cache/sbtboot"
    - "sbt-cache/target"
    - "sbt-cache/coursier"

test:
  tags:
    - cluster01
  stage: test
  image: "hseeberger/scala-sbt:8u151-2.12.4-1.0.2"
  script:
    - sbt clean coverageOn "testOnly * -- -l org.apache.spark.sql.kafka011.MightNeverTerminate" coverageOff coverageReport coverageAggregate

deploy:
  tags:
    - cluster01
  stage: deploy
  image: "hseeberger/scala-sbt:8u151-2.12.4-1.0.2"
  script:
    - sbt clean publish
