image: alpine

variables:
  SBT_OPTS: "-Dglobal.base=sbt-cache/sbtboot -Dsbt.boot.directory=sbt-cache/boot -Dsbt.ivy.home=sbt-cache/ivy -Dsbt.ci=true"
  COURSIER_CACHE: sbt-cache/coursier
  UNPRIVILEGED_USER: "tester"

stages:
  - censor # first censor cause it's faster
  - waspctl
  - test
  - integration
  - deploy

cache:
  key: "mycachekey"
  paths:
    - "sbt-cache/ivy/cache"
    - "sbt-cache/boot"
    - "sbt-cache/sbtboot"
    - "sbt-cache/target"
    - "sbt-cache/coursier"
    - node_modules/
    - public/ 
      # Node modules and dependencies

test-kernel:
  stage: test
  interruptible: true
  image: "hseeberger/scala-sbt:8u282_1.5.5_2.11.12"
  parallel:
    matrix:
      - WASP_FLAVOR: [ "VANILLA2", "CDH6", "VANILLA2_2_12" ]
  script:
    - ./run-sbt-unprivileged.sh "clean coverageOn wasp-kernel/test coverageOff wasp-kernel/coverageReport wasp-kernel/coverageAggregate"
  after_script:
    - mkdir test-output
    - find . -path '*/test-reports/*.xml' -exec cp '{}' ./test-output/ \;
  artifacts:
    reports:
      junit: 'test-output/*.xml'
      cobertura: 'target/scala-2.*/coverage-report/cobertura.xml'
  tags:
    - gitlab-org
  only:
    - /^develop$/
    - /(^release\/v([0-9]+)\.([0-9]+))/
    - merge_requests
  needs: []

test-plugin:
  stage: test
  interruptible: true
  image: "hseeberger/scala-sbt:8u282_1.5.5_2.11.12"
  parallel:
    matrix:
      - WASP_FLAVOR: [ "VANILLA2", "CDH6", "VANILLA2_2_12" ]
  script:
    - ./run-sbt-unprivileged.sh "clean coverageOn wasp-plugin/test coverageOff wasp-plugin/coverageReport wasp-plugin/coverageAggregate"
  after_script:
    - mkdir test-output
    - find . -path '*/test-reports/*.xml' -exec cp '{}' ./test-output/ \;
  artifacts:
    reports:
      junit: 'test-output/*.xml'
      cobertura: 'target/scala-2.*/coverage-report/cobertura.xml'
  tags:
    - gitlab-org
  only:
    - /^develop$/
    - /(^release\/v([0-9]+)\.([0-9]+))/
    - merge_requests
  needs: []

test-repo:
  stage: test
  interruptible: true
  image: "hseeberger/scala-sbt:8u282_1.5.5_2.11.12"
  parallel:
    matrix:
      - WASP_FLAVOR: ["VANILLA2", "CDH6", "VANILLA2_2_12"]
  script:
    - ./run-sbt-unprivileged.sh "clean coverageOn wasp-repository/test coverageOff wasp-repository/coverageReport wasp-repository/coverageAggregate"
  after_script:
    - mkdir test-output
    - find . -path '*/test-reports/*.xml' -exec cp '{}' ./test-output/ \;
  artifacts:
    reports:
      junit: 'test-output/*.xml'
      cobertura: 'target/scala-2.*/coverage-report/cobertura.xml'
  tags:
    - gitlab-org
  only:
    - /^develop$/
    - /(^release\/v([0-9]+)\.([0-9]+))/
    - merge_requests
  needs: []

compile-whitelabel:
  stage: deploy
  interruptible: true
  image: "hseeberger/scala-sbt:8u282_1.5.5_2.11.12"
  parallel:
    matrix:
      - WASP_FLAVOR: ["VANILLA2", "CDH6"]
  script:
    - ./run-sbt-unprivileged.sh "clean wasp-whitelabel/Test/compile"
  tags:
    - gitlab-org
  only:
    - /^develop$/
    - /(^release\/v([0-9]+)\.([0-9]+))/
    - merge_requests
  needs: []

censor:
  stage: censor
  interruptible: true
  image: "registry.gitlab.com/agilefactory/developers/censor:0.1.0"
  only: [merge_requests]
  script:
    - ./censor.sh


waspctl:
  interruptible: true
  stage: deploy
  image: "registry.gitlab.com/agilefactory/agile.wasp2/waspctl-build:0.1.0"
  script:
    - bash waspctl/build-for-all-archs.bash
  artifacts:
    paths: ['waspctl/output']
  only:
    - /^develop$/
    - /(^release\/v([0-9]+)\.([0-9]+))/
    - merge_requests
    - tags
  needs:
    - test-kernel

snapshot:
  interruptible: false
  stage: deploy
  image: "hseeberger/scala-sbt:8u282_1.5.5_2.11.12"
  parallel:
    matrix:
      - WASP_FLAVOR: [ "VANILLA2", "CDH6", "VANILLA2_2_12" ]
  script:
    - "mkdir -p $HOME/.sbt/gpg"
    - "echo $GPG_PUB | base64 -d > $HOME/.sbt/gpg/pubring.asc"
    - "echo $GPG_PRIV | base64 -d >  $HOME/.sbt/gpg/secring.asc"
    - "export PGP_PASSPHRASE=`echo $GPG_PASSPHRASE_BASE64 | base64 -d`"
    - sbt clean publishSigned
  only:
    - /^develop$/
    - /(^release\/v([0-9]+)\.([0-9]+))/
    - merge_requests
  needs:
    - test-kernel
    - test-repo
    - test-plugin

release:
  interruptible: false
  stage: deploy
  image: "hseeberger/scala-sbt:8u282_1.5.5_2.11.12"
  parallel:
    matrix:
      - WASP_FLAVOR: [ "VANILLA2", "CDH6", "VANILLA2_2_12" ]
  script:
    - "mkdir -p $HOME/.sbt/gpg"
    - "echo $GPG_PUB | base64 -d > $HOME/.sbt/gpg/pubring.asc"
    - "echo $GPG_PRIV | base64 -d >  $HOME/.sbt/gpg/secring.asc"
    - "export PGP_PASSPHRASE=`echo $GPG_PASSPHRASE_BASE64 | base64 -d`"
    - sbt clean publishSigned sonatypeBundleRelease
  only:
    - tags

pages:
  image: registry.gitlab.com/publicagilefactory/handbook/node:10
  stage: deploy
  script:
    - npm install gitbook-cli -g # install gitbook
    - gitbook fetch 3.2.3 # fetch final stable version
    - gitbook install # add any requested plugins in book.json
    - | 
      if [[ $CI_COMMIT_REF_NAME == 'develop'  ]]
      then 
        rm -rf public/*
        gitbook build documentation public # build to the public path
      else 
        mkdir -p public/$CI_COMMIT_REF_NAME 
        rm -rf public/$CI_COMMIT_REF_NAME/*
        gitbook build documentation public/$CI_COMMIT_REF_NAME 
      fi
    - |
      if [[ -n "$CI_MERGE_REQUEST_IID" ]]
      then
        curl -vvvv -L -X POST --header "Private-Token: $AGILELAB_BOT" --data-urlencode "body=Your merge request has been rendered and can be reviewed at https://agilefactory.gitlab.io/Agile.Wasp2/$CI_COMMIT_REF_NAME/" https://gitlab.com/api/v4/projects/$CI_PROJECT_ID/merge_requests/$CI_MERGE_REQUEST_IID/notes
      else
        true
      fi
  artifacts:
    paths:
      - public
  only:
    refs:
    - merge_requests
    - /^develop$/
    changes:
    - documentation/*

